<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
            <li class="nav-colophon-0${item_num}">
              <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
            </li>
            % endfor
        </ol>
      </nav>

      <div class="wrapper-logo">
        <p>
          <a href="/">
            ## this is just a placeholder logo
            ## feel free to change this logo to your own by replacing "logo.png" with your own logo
            <img alt="organization logo placeholder" src="/static/images/default-theme/logo.png">
          </a>
        </p>
      </div>

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <p class="copyright">${footer['copyright']}</p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
          % for item_num, link in enumerate(footer['legal_links'], start=1):
            ## TODO: handle terms of service AND honor code links
            <li class="nav-legal-0${item_num}">
              <a href="${link['url']}">${link['title']}</a>
            </li>
          % endfor
        </ul>
      </nav>
    </div>

    ## please leave this link and use one of the logos provided
    <div class="footer-about-openedx">
      <p>
        <a href="http://openedx.org/">
          ## TODO: choice of OpenEdX logo?
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" />
        </a>
      </p>
    </div>
  </footer>
</div>
